.table{
  border-color: black;
  border-collapse: collapse;
  background-color: lightgray;
  border-radius: 10px;
  padding: 20px;
  font-family: sans-serif;
}


img{
  width: 40px;
}

#container{
  justify-content: left;
  display:flex;
  align-items: center;
  padding-bottom: 10px;
}
 
#title{
  background-color: #213ABF;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: auto;
  justify-content: left;
  display:flex;
  align-items: center;
}

#images{
  border-radius: 10px;
  padding-left: 10px;
  width: auto;
  padding-top: 5px;

}

#settings{
  float: right;
}
#pageButton {
  width: 40px;
  transition: all 0.15s ease;
}
#pageButton:hover {
  width: 44px;
}

#checkbox{
  background-color: gray;
  justify-content: left;
  padding: 4px;
  border-radius: 4px;
  font-family: sans-serif;
  font-weight: bold;
}

#applySettings{
  padding: 10px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

#applySettings:hover{
  background-color: lightgreen;
}

#clearCity{
  padding: 10px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  max-width: 100%;
  overflow: hidden;
  font-size: 100%;
}
#clearCity:hover{
  background-color: red;

}

#applyDiv{
  padding-top:5%;
  width:100%;
  display: inline-block;
}

#padding{
  padding:5px;
}

#selections{
  display: flex;
}

#selectLists{
  height: 80%;
  max-width:50%;
}

#divdiv{
  width: 40%;
  padding: 3.4%;
  display: inline-block;
}

#row1{
  width: 20%;
  display: inline-block;
  padding-right: 5px;
}

#row2{
  width: 20%;
  display: inline-block;
  padding-right: 5px;
}

#row3{
  width: 20%;
  display: inline-block;
  padding-right: 5px;
}

tr{
  border-bottom: 5px solid rgb(0,0,0,.4);
  border-width: 2px;
  
}

td{
  padding-left:8px;
  font-weight: bold;
}

body{
  background-color: #0B1340;
}

a:link {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: blue;
}

a:visited {
  color: darkgreen;
}



#whiteRow{
  background-color: lightgray;
}

#darkRow{
	background-color: #d3cec5;
}
